<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Agendar cita</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<base href="/" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

</head>

<body>

	<div class="container-fluid" style="margin: 20px;">
		<div class="row">
			<div class="col-xs-2" />
			<div class="col-xs-8">
				<a th:onclick="window.location.href = '/medicos';" class="btn btn-danger">Regresar</a>

				<!-- tu tabla aquí siempre se verá al 100% en todas las resolcuiones-->
				Agendar cita con Dr(a): <span id="user2" class="text-secondary"></span>
			</div>
			<div class="col-xs-2" />
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="width: 50%;">
				<h1 class="text-center"> Agendar cita </h1>
				<div class="card-body">
					<form th:action="@{/citasMedicas}" th:object="${cita}" method="POST">
						<input type="hidden" th:field="*{agente}"/>
						<input type="hidden" th:field="*{idMedico}"/>
						<input type="hidden" th:field="*{fecha}"/>
						<input type="hidden" th:field="*{hora}"/>

						<div class="form-group">
							<label>Fecha *</label>
							<input id="datepicker" th:required="required" />
							<script>
								$('#datepicker').datepicker({
									uiLibrary: 'bootstrap4',
									format: 'dd-mm-yyyy'
								});
							</script>
						</div>
						<div class="form-group">
							<label>Paciente *</label>
							<input type="text" name="paciente" th:field="*{paciente}" class="form-control"
								th:required="required" placeholder="Capture nombre del paciente" />
						</div>
						<div class="form-group">
							<label>Correo electrónico *</label>
							<input type="email" name="correo" th:field="*{correo}" class="form-control"
								th:required="required" placeholder="Capture correo electronico" />
						</div>
						<div class="form-group">
							<label>Hora</label>
							10:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="10">
							11:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="11">
							12:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="12">
							13:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="13">
							14:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="14">
							15:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="15">
							16:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="16">
							17:00<input type="checkbox" name="check" onclick="onlyOne(this)" id="17">

						</div>
						<div class="box-footer">
							<button id="botonAgendar" type="submit" class="btn btn-primary"
								onclick="llenarCamposCita();">Agendar cita</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var citasAgendadas;
		var horaSeleccionada;
		var ch;
		$("#user2").html(sessionStorage.getItem("nombreMedicoSeleccionado"));
		window.onload = function () {
			// Initial function call
			$("#fechaSel").html(sessionStorage.getItem("fechaSeleccionada"));
			$('#botonAgendar').attr('disabled', true);
		}
		function onlyOne(checkbox) {
			var checkboxes = document.getElementsByName('check')
			checkboxes.forEach((item) => {
				if (item !== checkbox) {
					item.checked = false;
				} else {
					ch = checkbox;
					var idCheckbox = ch.id;
					if ($("#" + idCheckbox).is(':checked')) {
						horaSeleccionada = idCheckbox + ":00";
						$('#botonAgendar').attr('disabled', false);
					} else {
						horaSeleccionada = "";
						$('#botonAgendar').attr('disabled', true);
					}
				}
			})
		}

		$("#datepicker").on("changeDate", function (e) {
			sessionStorage.fechaSeleccionada = $('#datepicker').datepicker().val();
			var comando = '/citasAgendadasRest/' + sessionStorage.medicoSeleccionado + '/' + $('#datepicker').datepicker().val();
			//window.location.href = comando;

			$.get(comando,
				function (data, status) {
					console.log("Data: " + data + "\nStatus: " + status);
					citasAgendadas = data.citasAgendadas;
					habilitarCheckboxes();
					citasAgendadas.forEach((item) => {
						$('#' + item.hora.slice(0, 2)).attr('disabled', true);
					})

				});

		});

		function habilitarCheckboxes() {
			var checkboxes = document.getElementsByName('check');
			$('#botonAgendar').attr('disabled', true);
			checkboxes.forEach((item) => {
				$('#' + item.id).attr('disabled', false);
				$('#' + item.id).prop('checked', false);
			})

		}

		function llenarCamposCita() {
			document.getElementById('agente').value = sessionStorage.getItem("usuarioLoggeado");
			document.getElementById('idMedico').value = sessionStorage.getItem("medicoSeleccionado");
			document.getElementById('fecha').value = $('#datepicker').datepicker().val();
			document.getElementById('hora').value = horaSeleccionada;
		}
	</script>


</body>

</html>